<div class="main-content">
    <app-top-data-cards></app-top-data-cards>
    <div class="container-1">
        <div class="recent-new-user-cards">
            <div class="recent-order">
                <app-recent-orders></app-recent-orders>
            </div>
            <div class="new-user">
                <app-new-user></app-new-user>
            </div>
        </div>
    </div>
    <div class="container-2">
        <div class="big-column big-column-chart">
            <app-line-chart></app-line-chart>
        </div>
        <div class="big-column big-column-chart">
            <app-column-chart></app-column-chart>
        </div>
        <div class="small-column small-column-chart">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>

</div>