.new-user-content {
  background-color: #fff;
  padding: 16px;
}

.new-user-menu {
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-profile {
  flex: 1;
  display: flex;
  align-items: center;
}

.status-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: -16px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
  position: relative;
  /* Use position: relative; */
  top: 12px;
}

.active-dot {
  background-color: green !important;
}

.inactive-dot {
  background-color: blue !important;
}

.user-details {
  flex: 2;
}

.user-progress {
  flex: 2;
}

.progress-1 {
  height: 5px;
  background-color: transparent !important;
}

.user-name {
  font-size: 13px;
  font-weight: 700;
}

.profile-image {
  overflow: hidden;
  padding: 10px;
}

.user-country {
  font-size: 12px;
  font-weight: 500;
}

.title {
  display: flex;
  justify-content: start;
}
.user-action {
  flex: 1;
}

.new-user-btn {
  background-color: #eef2f8 !important;
  border: 0;
  border-radius: 8px;
  color: grey;
}

.new-user-btn:hover {
  background-color: #506de2 !important;
  color: #fff !important;
}