<div class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 ">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <img src="assets/images/menu.svg" alt="Your SVG Image">
        </a>
      </li>
      <br>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <img src="assets/images/cube.svg" alt="Your SVG Image">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <img src="assets/images/add_files.svg" alt="Your SVG Image">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <img src="assets/images/check.svg" alt="Your SVG Image">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <img src="assets/images/settings.svg" alt="Your SVG Image">
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <img src="assets/images/download.svg" alt="Your SVG Image">
        </a>
      </li>
    </ul>
  </div>
</div>